#topbar{
  position: sticky;
  background-color: #B2C8DF;
}

#topbar > .navbar a{
  text-decoration: none;
}

#topbar > .navbar a:hover{
  color: #3F72AF;
  transition:all.3s;
  border-bottom: 3px solid;
}

#topbar > .navbar a.router-link-exact-active {
  color: #3F72AF;
  border-bottom: 3px solid;
  width: auto;
}

#navbarSupportedContent {
  justify-content: end;
}

#logoimg {
  width: 100%%;
  margin: 0;
}